# このファイルをコピーして.envを作成して、自分の環境に合わせて値を設定してください

# MySQLのデータベース設定
MYSQL_ROOT_PASSWORD = 
MYSQL_DATABASE = 
MYSQL_USER = 
MYSQL_PASSWORD = 

# NestJS/Prisma接続用URL
DATABASE_URL = 

# NestJSがリッスンするポート
BACKEND_PORT = 

# APIリクエストを許可するフロントエンドのURL
CORS_ORIGIN = 