@charset "utf-8";

.react-calendar {
    max-width: 1335px;
    width: 100%;
    border: none;
    border-radius: 15px;
    background-color: #fbfbfb;
}

.react-calendar

.react-calendar__tile {
    height: 117px;
    outline: 1px solid #d2d2d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* 土曜日だけ青色にする */
.react-calendar .react-calendar__month-view__days__day--weekend:nth-child(7n-1) {
    color: #00F;
}

  /* active時の文字の色（選択後の日付の色） */
.react-calendar__tile--active {
    color: white !important;
}

  /* 土曜を全部青色にしても今月以外は灰色にする */
.react-calendar .react-calendar__month-view__days__day--neighboringMonth {
    color: #757575 !important;
}

.event-marker {
    width: 8px;
    height: 8px;
    background-color: #4ab2e7; /* Tailwindのred-400のような色 */
    border-radius: 50%;
    margin: 0 auto; /* 中央寄せ */
    margin-top: 20px; /* 日付の数字からのマージン */
}
